.header {
	border-bottom: 1px solid var(--toolbar-border);
	box-shadow: 0 2px 8px var(--toolbar-box-shadow);

	padding: 2em;
	grid-gap: 0 2em;
	position: sticky;
	inset: 0 0 auto 0;
	z-index: 1;
	--feed-logo-width: 100px;
	--header-bg: black;
	--header-color: white;
	background: var(--header-bg);
	color: var(--header-color);
	transition: color .25s, background .25s;
}

.header__title {
	margin: 0 auto;
	max-width: var(--layout-width);
}

.header__subtitle {
	margin: 0 auto;
	font: var(--big);
	max-width: var(--layout-width);
}