:root {
	--paper: white;
	--ink: black;

	--toolbar-border: rgba(12, 12, 13, 0.2);
	--toolbar-box-shadow: rgba(12, 12, 13, 0.1);

}

@media (prefers-color-scheme: dark) {
	:root {
		--paper: #42414C;
		--ink: #FBFBFE;
	}
}

body {
	background: var(--paper);
	color: var(--ink);
	font-family: Helvetica, Arial, sans-serif;
	user-select: text;
	line-height: 1.4;
	max-width: 48em;
	margin: auto;
}

img {
	max-width: 100%;
}

h1 {
	font-weight: 500;
	font-size: 1.5rem;
	margin: 1rem 0;
}

h2 {
	font-weight: 200;
	font-size: 1.5rem;
	margin: 1rem 0;
}

h3 {
	font-weight: 300;
	font-size: 1.2rem;
	margin: 1rem 0;
}

h4 {
	font-weight: 300;
	font-size: 1rem;
	margin: 1rem 0;
}

h5 {
	font-weight: 500;
	font-size: .75rem;
	margin: 1rem 0;
}

h5 {
	font-weight: 600;
	font-size: .5rem;
	margin: 1rem 0;
}

a {
	color: AccentColor;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

hr {
	color: var(--toolbar-border);
	height: 0;
	border-width: .075rem 0 0 0;
}

table  {
	width: 100%;
	border: 1px solid var(--toolbar-border);
}

td, th {
	padding: .25rem .75rem;
}

th {
	text-align: left;
}

thead tr {
	background: var(--toolbar-box-shadow);
}

tbody th:first-child:not(:last-child) {
	text-align: right;
}

figure {
	margin: 0;
}

figcaption {
	font-size: .75rem;
}

ul, ol, dd {
	padding-left: 1em;
	margin-left: 0;
}

blockquote {
	font-size: 1.6rem;
	font-style: italic;
	font-weight: 100;
}

ins {
	background: #558e00cc;
	padding: .25rem;
	text-decoration: inherit;
	border-radius: .2rem;
}

del {
	background: #d03b00cc;
	padding: .25rem;
	text-decoration: inherit;
	border-radius: .2rem;
}

cite {
	font-style: normal;
}

q {
	font-style: italic;
}

:is(ins, del) > a {
	color: inherit;
}

.inline-image {
	max-height: 1em;
	width: auto;
	vertical-align: text-bottom;
	transform: translateY(-.2rem);
}

.url {
	word-wrap: break-word;
}

.iframe-placeholder,
iframe {
	display: block;
	border: none;
	width: 100%;
	aspect-ratio: var(--ratio);
}

.iframe-placeholder {
	display: flex;
	color: inherit;
	text-align: center;
	border: 1px dashed;
	align-items: center;
	justify-content: center;
}

[hidden] {
	display: none;
}
