.podcast-player {
	display: grid;
	grid-template-rows: auto auto;
	grid-gap: 2rem;
	margin: 4rem auto;
	padding: 0 4rem;
	--cover-width: 200px;
	grid-template-columns: 1fr;
	grid-template-areas: 'text'
	                     'player';
	max-width: var(--layout-width);
}

.podcast-player--has-cover {
		grid-template-areas: 'cover'
							 'text'
							 'player';
	}

@media (min-width: 800px) {
	.podcast-player--has-cover {
		grid-template-columns: var(--cover-width) 1fr;
		grid-template-areas: 'cover  text'
							 'player player';
	}
}

.podcast-player__text {
	grid-area: text;
}

.podcast-player__player {
	display: block;
	width: 100%;
}

.podcast-player__cover {
	grid-area: cover;
}

.podcast-player__player {
	grid-area: player;
	height: 40px;
}

.podcast-player__title {
	margin-top: 0;
}

.podcast-player__tag {
	display: inline-block;
	background: var(--toolbar-border);
	font-size: .75rem;
	padding: 0 .3em;
	border-radius: .2rem;
}

.podcast-player__explicit-tag {
	border: 1px solid;
	font-size: .7em;
	color: red;
	padding: .15em .45em;
	border-radius: 6px;
	margin: 0 .3em;
}