.podcast-player {
	display: grid;
	grid-template-rows: auto auto;
	grid-gap: 2rem;
	margin: 4rem 0;
	grid-template-areas: 'text' 'player';
}

.podcast-player--has-cover {
	grid-template-columns: 200px 1fr;
	grid-template-areas: 'cover text' 'player player';
}

.podcast-player__player {
	display: block;
	width: 100%;
}

.podcast-player__cover {
	grid-area: cover;
}

.podcast-player__player {
	grid-area: player;
	height: 40px;
}

.podcast-player__title {
	margin-top: 0;
}

.podcast-player__explicit-tag {
	border: 1px solid;
	font-size: .7em;
	color: red;
	padding: .15em .45em;
	border-radius: 6px;
	margin: 0 .3em;
}